<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django CRUD Application</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/test.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'Susremaster.ico' %}">
</head>
<body>

    <nav class="navbar">
        <a href="{% url 'home' %}">
            <img src="{% static 'logo.png' %}" alt="logo">
        </a>
        
        <ul>
            <div class="dropdown">
                <a href="{% url 'masajes' %}">
                    <button class="dropbtn">Masajes</button>
                </a>
                <div class="dropdown-content">
                    <li>
                    {% for tipo in tipos_masajes %}    
                        <a href="{% url 'masajes' %}?tipo={{ tipo.id }}">{{ tipo.nombre }}</a>
                    {% endfor %}
                    </li>
                </div>
            </div>


            {% if user.is_authenticated and request.user.is_staff %}
                <div class="dropdown">
                    <button class="dropbtn">Reservas</button>
                    <div class="dropdown-content">
                        <li>
                            <a href="{% url 'calendari' %}">Calendari</a>
                            <a href="{% url 'reservas' %}">Reservas</a>
                        </li>
                    </div>
                </div>
            {% else %} 
                <a href="{% url 'reservas' %}">
                    <button>Reservas</button>
                </a>
            {% endif %}
            
            <!-- {% if user.is_authenticated %}   -->
            <!-- <li> -->
                <!-- <a href="{% url 'logout'%}"><button>Logout</button></a> -->
            <!-- </li> -->
            <!-- {% else %}             -->
            <!-- <li> -->
                <!-- <a href="{% url 'signup'%}"><button>Signup</button></a> -->
            <!-- </li> -->
            <!-- <li> -->
                <!-- <a href="{% url 'signin'%}"><button>Signin</button></a> -->
            <!-- </li> -->
            <!-- {% endif %} -->
            
           
            
        </ul>
         {% include "commons/includes/userIcon.include.html" %}
    </nav>
    <div class="content">
        {% block content %}    
        {% endblock %}
    </div>
    {% include "commons/includes/footer.include.html" %}
</body>
</html>