{% extends "base.html" %}

{% block content %}
{% load static %}
        {% include "commons/includes/title.include.html" with Titulo="Bienvenidos" Subtitulo="Si estas buscando una experiencia relajante y liberadora, aqui encontraras lo que deseas " %}
        
        <div class="carousel-container">
            <div class="carousel" id="carousel">
                {% for item in carrusel_items %}
                    <div class="carousel-slide{% if forloop.first %} active{% endif %}">
                        <img src="{% static item.img_url %}" alt="{{ item.titulo }}">
                        <div class="carousel-caption">
                            <h3>{{ item.titulo }}</h3>
                            <div class="carousel-caption-row">
                                <button 
                                    class="carousel-masaje-btn"
                                    name="{{item.id}}"
                                >Ver masaje</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <button class="carousel-btn prev" onclick="moveCarousel(-1)">&#10094;</button>
                <button class="carousel-btn next" onclick="moveCarousel(1)">&#10095;</button>
            </div>
            <div class="carousel-autoplay-control">
                <label>
                    <input type="checkbox" id="pause-autoplay">
                    <span>Pausar</span>
                </label>
            </div>
        </div>

<link rel="stylesheet" href="{% static 'css/home.css' %}">

<script src="{% static 'js/home.js' %}"></script>

{% endblock %}