asgiref==3.8.1
Brotli==1.1.0
certifi==2025.1.31
charset-normalizer==3.4.1
dj-database-url==2.3.0
Django==5.1.7
django-capture-tag==1.0
gunicorn==23.0.0
idna==3.10
packaging==25.0
pillow==11.1.0
psycopg2-binary==2.9.10
pycryptodome==3.22.0
python-dotenv==1.1.0
python-http-client==3.3.7
requests==2.32.3
sendgrid==6.11.0
sqlparse==0.5.3
starkbank-ecdsa==2.2.0
typing_extensions==4.13.2
tzdata==2025.1
urllib3==2.4.0
whitenoise==6.9.0
