{% load static %}
<link rel="stylesheet" href="{% static 'css/include/infoCard.include.css' %}">
<div class="user-card">
    <div class="user-image">
        <img src="{{ image_url|default:'/static/fotosPerfil/default.jpg' }}" alt="User" />
    </div>

    <div class="top-actions">
        {% if top_action_left %}
            <div>{{ top_action_left }}</div>
        {% endif %}
        {% if top_action_right %}
            <div class="ml-auto">{{ top_action_right }}</div>
        {% endif %}
    </div>

    <h2 class="user-name">{{ title }}</h2>

    <div class="bottom-actions">
        {{ bottom_actions|safe }}
    </div>
</div>
