<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

<script>
    function showToast(message, type) {
        let color = type === "error" ? "#ff4d4d" : "#008000"; // Rojo para error, verde para éxito
        Toastify({
            text: message,
            duration: 10000,
            gravity: "top",
            position: "center",
            style:{
                background: color
            }
        }).showToast();
    }

    document.addEventListener("DOMContentLoaded", function() {
        // Verificar si hay un mensaje guardado en sessionStorage
        let toastMessage = sessionStorage.getItem("toastMessage");
        let toastType = sessionStorage.getItem("toastType");

        if (toastMessage) {
            showToast(toastMessage, toastType);
            sessionStorage.removeItem("toastMessage"); // Borrar después de mostrarlo
            sessionStorage.removeItem("toastType");
        }

        // También mostrar el mensaje si se pasó desde Django
        let errorMessage = "{{ toastTxt|escapejs }}".trim();
        let type = "{{ toastType|escapejs }}".trim();

        if (errorMessage !== "") { 
            showToast(errorMessage, type);
        }
    });
</script>