<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

<script>
    function showToast(message, type,time=5000) {
        let color = type === "error" ? "#ff4d4d" : 
            type === "info" ? "##2f319e" : "#008000"; // Rojo para error, azul para info, verde para éxito
        Toastify({
            text: message,
            duration: time,
            gravity: "top",
            position: "center",
            style:{
                background: color
            }
        }).showToast();
    }

    document.addEventListener("DOMContentLoaded", function() {
        // Verificar si hay un mensaje guardado en sessionStorage
        let toastMessage = sessionStorage.getItem("toastMessage");
        let toastType = sessionStorage.getItem("toastType");

        if (toastMessage) {
            showToast(toastMessage, toastType);
            sessionStorage.removeItem("toastMessage"); // Borrar después de mostrarlo
            sessionStorage.removeItem("toastType");
        }

        // También mostrar el mensaje si se pasó desde Django
        let errorMessage = "{{ toastTxt|escapejs }}".trim();
        let type = "{{ toastType|escapejs }}".trim();

        if (errorMessage !== "") { 
            showToast(errorMessage, type);
        }
    });
    function removeToasts(animated = false) {
        const toastElements = document.querySelectorAll(".toastify");
        if (!animated) {
            toastElements.forEach(toast => {
                toast.remove();
            });
            return;
        }
        toastElements.forEach(toast => {
            // Aplicar una transición rápida para desaparecer gradualmente
            toast.style.transition = "opacity 300ms ease";
            toast.style.opacity = "0";
            
            // Eliminar del DOM después de que termine la transición
            setTimeout(() => {
                toast.remove();
            }, 300);
        });
    }
</script>