<div class="userIcon">
    {% if user.is_authenticated %}
        <div class="contenedorFoto">
            {%if request.user.userprofile.foto%} <img src="{{ request.user.userprofile.foto|cut:'usuarios' }}" alt="">
            {% else %} <img src="/static/fotosPerfil/noImg.png" alt="">
            {% endif %}
        </div>
        <div class="dropdown-content">
            {% if perms.auth.change_user %}
                <a href="{% url 'userList' %}">Lista de usuarios</a>
            {% endif %}
            <a href="{% url 'logout' %}">Logout</a>
        </div>

    {% else %}
        <div class="contenedorFoto">
            <img src="/static/fotosPerfil/default.jpg" alt="ñ">
        </div> 
        <div class="dropdown-content">
                <a href="{% url 'signin' %}">Login</a>
                <a href="{% url 'signup' %}">Signin</a>
        </div>
    {% endif %}
</div>