{% extends "base.html" %}

{% block content %}

{% load static %}

{% include "commons/includes/title.include.html" with Titulo="Editar trabajador" Subtitulo="Modifica los datos del trabajador" %}

<link rel="stylesheet" href="{% static 'css/workerData.css' %}">

<div class="worker-form">
    <form method="POST" enctype="multipart/form-data" action="{% url 'editWorker' %}">
        {% csrf_token %}
        
        <!-- Campo oculto para el ID del trabajador -->
        <input type="hidden" name="trabajador_id" value="{{ worker.id }}">
        <div class="form-group">
            <label for="{{ form.foto.id_for_label }}">Foto de perfil:</label>
            
            <!-- Mostrar imagen actual si existe -->

            {% if worker.user_profile.foto %}
            <div class="current-photo">
                <label for="id_foto">
                    <img id="fotoUser" src="{{ worker.user_profile.foto.url }}" alt="Foto de perfil actual" class="profile-image">
                    <img src="{% static '/pen-black.svg' %}" alt="Añadir foto">
                </label>
                <p class="help-text">Foto actual</p>
            </div>
            {% else %}
            <div class="current-photo">
                <label for="id_foto">
                    <img src="{% static 'fotosPerfil/default.jpg' %}" alt="Sin foto de perfil" class="profile-image">
                    <img src="{% static '/pen-black.svg' %}" alt="Añadir foto">
                </label>
                <p class="help-text">No hay foto de perfil</p>
            </div>
            {% endif %}
            
            <input type="file" hidden name="foto" class="form-control" accept="image/*" id="id_foto">
            
            {% if form.foto.help_text %}
                <div class="help-text">{{ form.foto.help_text }}</div>
            {% endif %}
            {% if form.foto.errors %}
                <div class="error-text">{{ form.foto.errors }}</div>
            {% endif %}
        </div>
        <div class="form-row">
            <!-- Primera columna -->

            <div class="form-column">
                <!-- Campo para la foto -->

                
                <!-- Username -->
                <div class="form-group">
                    <label for="{{ form.username.id_for_label }}">Nombre de usuario:</label>
                    {{ form.username }}
                    {% if form.username.errors %}
                        <div class="error-text">{{ form.username.errors }}</div>
                    {% endif %}
                </div>
                
                <!-- Email -->
                <div class="form-group">
                    <label for="{{ form.email.id_for_label }}">Email:</label>
                    {{ form.email }}
                    {% if form.email.errors %}
                        <div class="error-text">{{ form.email.errors }}</div>
                    {% endif %}
                </div>
                
                <!--Contraseña nueva-->
                <div class="form-group">
                    <label for="{{ form.password1.id_for_label }}">Nueva Contraseña:</label>
                    {{ form.password1 }}
                    {% if form.password1.errors %}
                        <div class="error-text">{{ form.password1.errors }}</div>
                    {% endif %}
                </div>
                
                <!-- Confirmar contraseña nueva -->
                <div class="form-group">
                    <label for="{{ form.password2.id_for_label }}">Confirmar Nueva Contraseña:</label>
                    {{ form.password2 }}
                    <div class="help-text">{{ form.password1.help_text }}</div>
                    {% if form.password2.errors %}
                        <div class="error-text">{{ form.password2.errors }}</div>
                    {% endif %}
                </div>
            </div>
            
            <!-- Segunda columna (a partir de DNI) -->
            <div class="form-column">
                <!-- DNI -->
                <div class="form-group">
                    <label for="{{ form.dni.id_for_label }}">DNI:</label>
                    {{ form.dni }}
                    {% if form.dni.errors %}
                        <div class="error-text">{{ form.dni.errors }}</div>
                    {% endif %}
                </div>
                
                <!-- Número de teléfono -->
                <div class="form-group">
                    <label for="{{ form.phone_number.id_for_label }}">Número de teléfono:</label>
                    {{ form.phone_number }}
                    {% if form.phone_number.errors %}
                        <div class="error-text">{{ form.phone_number.errors }}</div>
                    {% endif %}
                </div>
                
                <!-- Fecha de inicio -->
                <div class="form-group">
                    <label for="{{ form.start_date.id_for_label }}">Fecha de inicio:</label>
                    {{ form.start_date }}
                    {% if form.start_date.errors %}
                        <div class="error-text">{{ form.start_date.errors }}</div>
                    {% endif %}
                </div>
                
                <!-- Horario -->
                <div class="form-group">
                    <label for="{{ form.horario.id_for_label }}">Horario (formato: HH:MM - HH:MM):</label>
                    {{ form.horario }}
                    {% if form.horario.errors %}
                        <div class="error-text">{{ form.horario.errors }}</div>
                    {% endif %}
                    <div class="help-text">Solo se permiten horas en punto (:00) o y media (:30)</div>
                </div>
            </div>
        </div>
        
        <!-- Botones al final del formulario -->
        <div class="form-actions">
            <a href="{% url 'workerList' %}" class="btn btn-cancel">Cancelar</a>
            <button type="submit" class="btn btn-primary">Guardar cambios</button>
        </div>
    </form>
</div>
<script src="{% static 'js/changeImageWorkerForm.js' %}"></script>

{% endblock %}
