
{% extends "base.html" %}

{% block content %}

{% load static %}

{% include "commons/includes/title.include.html" with Titulo="Administrar usuarios" Subtitulo="Por si quieres tener o quitar un administrador" %}

<div class="contentList">
{% for user in usuarios %}
    {% for group in user.groups.all %}
        {% if group.name == "Administradores" %}
            {% include "includes/userItem.include.html" with img=user.userprofile.foto.url name=user.username id=user.id texto="Quitar admin" %}
        {% endif %}
    {% empty %}
        {% if user.userprofile.foto %}
            {% include "includes/userItem.include.html" with img=user.userprofile.foto.url name=user.username id=user.id texto="Poner admin" %}
        {% else %}
            {% include "includes/userItem.include.html" with img="" name=user.username id=user.id texto="Poner admin" %}
        {% endif %}
    {% endfor %}
{% endfor %}
</div>
{% csrf_token %}


{% endblock %}