{% load static %}
{% load capture_tags %}

{% capture as boton_right silent %}
    {% include "commons/includes/imgBoton.include.html" with src="/trash-black.svg" alt="Trash Icon" action=accionAHacer %}
{% endcapture %}


{% capture as accionAHacer silent %}cambiarPriv({{ id }}){% endcapture %}
{{accionAHacer}}

{% capture as bottom_content silent %}
    {% include "commons/includes/boton.include.html" with text="Hacer/quitar admin" action=accionAHacer %}
{% endcapture %}

{% include "commons/includes/infoCard.include.html" with top_action_left=" " top_action_right=boton_right title=name bottom_actions=bottom_content %}

<script defer src="{% static 'js/changeAdmin.js' %}"></script>
