:root{

	--hover-dark-color: #ad96b3;
	--light-color: #f9f6fc;
	--strong-color: #c6d184;
	--dark-color: #6a994e;
	--light-shine: #f4faef6c;
	--dark-transparent: rgba(64, 40, 28, 0.75);
	/* Texto */
	--font-text: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
/* 
	--hover-dark-color: #6f513b;
	--light-color: #F1ece2;
	--strong-color: #ced3b1;
	--dark-color: #5a3e29;
	--light-shine: #f4faef6c;
	--dark-transparent: rgba(64, 40, 28, 0.75);
*/
