{% load static %}
<link rel="stylesheet" href="{% static 'css/reserves.include.css' %}">
<div class="reserva" style="background-image: url('{% static 'masajes/' %}{{ imagen }}'); background-size: cover; background-position: center;">
    <div class="Title">
    {% comment %} Se tiene que hacer dos conversiones para que no llore. Pasar el int a string y luego la concatenacion  {% endcomment %}
        {% with id=reserva.id|stringformat:"s" %} 
            <div></div>

            <div>{{nombre}}</div>

            <div id="reserva-id-{{reserva.id}}">{{reserva.id}}</div>
        {% endwith %}

    </div>
    <div class="textarea" name="{{nombre}} description" id="{{nombre}}Desc">
        <div id="reserva-fecha-{{reserva.id}}">{{ reserva.fecha|date:"d-m-Y" }}</div>
        <div id="reserva-hora-{{reserva.id}}">{{ reserva.fecha|date:"H:i" }}</div>
        <div id="reserva-duracion-{{reserva.id}}">{{ reserva.duracion_formatada }}h</div>
        <div id="reserva-precio-{{reserva.id}}">{{ reserva.precio_final }}€</div>
        <div>
            <label>
            <p>Pagado:</p> 
            <input id="reserva-pagado-{{reserva.id}}" type="checkbox" {% if reserva.pagado %}checked{% endif %} disabled>
            </label>
        </div>
        <div>
            <label>
            <p>Hecho:</p> 
            <input id="reserva-hecho-{{reserva.id}}" type="checkbox" {% if reserva.hecho %}checked{% endif %} disabled>
            </label>
        </div>
    </div>
    <script defer src="{% static 'js/modal.include.js' %}"></script>
</div>