{% load static %}
<link rel="stylesheet" href="{% static 'css/reserves.include.css' %}">
<div class="reserva" style="background-image: url('{% static imagen %}'); background-size: cover; background-position: center;">
    <div class="Title">
    {% comment %} Se tiene que hacer dos conversiones para qe no llore. Pasar el int a string  i luego la concatenacion  {% endcomment %}
        {% with id=reserva.id|stringformat:"s" %} 
            {% with reservaid="?reservaid="|add:id %}
                {% include "commons/includes/imgBoton.include.html" with src="/pen.svg" alt="Pen Icon" url="reservar_cambio" data=reservaid %}
            {% endwith %}
        {% endwith %}
        <!-- <img src="{% static '/pen.svg' %}" alt="Trash Icon"> -->
        <div>{{nombre}}</div>
        {% include "commons/includes/imgBoton.include.html" with src="/trash.svg" alt="Trash Icon" url="home" %}
        <!-- <img src="{% static '/trash.svg' %}" alt="Trash Icon"> -->
    </div>
    <div class="textarea" name="{{nombre}} description" id="{{nombre}}Desc"><b></b><br>{{description}}</div>
</div>