.botonIncl {
    background-color: var(--dark-color); /* Color de fondo similar */
    color: var(--light-color); /* Texto en color blanco */
    border: none;
    padding: 0.75rem 1.875rem;
    border-radius: 3.125rem; /* Bordes redondeados */
    font-size: 0.75rem;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    transition: all 0.3s ease;
}

.botonIncl:hover {
    filter: brightness(1.2);
    transition: all 0.3s ease;
}
.botonIncl:active {
    filter: brightness(0.8);
    transition: all 0.3s ease;
}
