.boton {
    background-color: var(--dark-color); /* Color de fondo similar */
    color: var(--light-color); /* Texto en color blanco */
    border: none;
    padding: 12px 30px;
    border-radius: 50px; /* Bordes redondeados */
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    transition: all 0.3s ease;
}

.boton:hover {
    filter: brightness(1.2);
    transition: all 0.3s ease;
}
.boton:active {
    filter: brightness(0.8);
    transition: all 0.3s ease;
}
