.user-card {
    position: relative;
    width: 18.75rem;
    min-height: 7.5rem;
    background-color: var(--strong-color);
    border: solid var(--dark-color) 0rem;
    border-radius: 0.625rem;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user-card .user-image {
    position: absolute;
    top: -2rem;
    width: 4rem;
    height: 4rem;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
    border: 0.1875rem solid var(--strong-color);
}
.user-card .user-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.user-card .top-actions {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -1rem;
    margin-bottom: 0.5rem;
}
.user-card .user-name {
    margin-top: 2rem;
    font-size: 1.125rem;
    font-weight: bold;
    text-align: center;
}
.user-card .bottom-actions {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}