{% extends "base.html" %}

{% block content %}

{% load static %}

{% include "commons/includes/title.include.html" with Titulo="Editar perfil" Subtitulo="Modifica tus datos personales" %}

<link rel="stylesheet" href="{% static 'css/workerData.css' %}">

<div class="worker-form">
    <form method="POST" enctype="multipart/form-data" action="">
        {% csrf_token %}
        {% if token %}
            <input type="hidden" name="token" value="{{ token }}">
        {% endif %}
        <div class="form-group">
            <label for="{{ form.foto.id_for_label }}">Foto de perfil:</label>
            
            {% if user.userprofile.foto %}
            <div class="current-photo">
                <label for="id_foto">
                    <img id="fotoUser" src="{{ user.userprofile.foto.url }}" alt="Foto de perfil actual" class="profile-image">
                    <img src="{% static '/pen-black.svg' %}" alt="Añadir foto">
                </label>
                <p class="help-text">Foto actual</p>
            </div>
            {% else %}
            <div class="current-photo">
                <label for="id_foto">
                    <img src="{% static 'fotosPerfil/default.jpg' %}" alt="Sin foto de perfil" class="profile-image">
                    <img src="{% static '/pen-black.svg' %}" alt="Añadir foto">
                </label>
                <p class="help-text">No hay foto de perfil</p>
            </div>
            {% endif %}
            
            <input type="file" hidden name="foto" class="form-control" accept="image/*" id="id_foto">
            
            {% if form.foto.help_text %}
                <div class="help-text">{{ form.foto.help_text }}</div>
            {% endif %}
            {% if form.foto.errors %}
                <div class="error-text">{{ form.foto.errors }}</div>
            {% endif %}
        </div>
        
        <div class="form-row">
            <div class="form-column">
                <div class="form-group">
                    <label for="{{ form.username.id_for_label }}">Nombre de usuario:</label>
                    {{ form.username }}
                    {% if form.username.errors %}
                        <div class="error-text">{{ form.username.errors }}</div>
                    {% endif %}
                </div>
                
                <div class="form-group">
                    <label for="{{ form.email.id_for_label }}">Email:</label>
                    {{ form.email }}
                    {% if form.email.errors %}
                        <div class="error-text">{{ form.email.errors }}</div>
                    {% endif %}
                </div>
                
                <div class="form-group">
                    <label for="{{ form.password1.id_for_label }}">Nueva Contraseña:</label>
                    {{ form.password1 }}
                    {% if form.password1.errors %}
                        <div class="error-text">{{ form.password1.errors }}</div>
                    {% endif %}
                    <div class="help-text">Deja en blanco si no quieres cambiar la contraseña</div>
                </div>
                
                <div class="form-group">
                    <label for="{{ form.password2.id_for_label }}">Confirmar Nueva Contraseña:</label>
                    {{ form.password2 }}
                    {% if form.password2.errors %}
                        <div class="error-text">{{ form.password2.errors }}</div>
                    {% endif %}
                </div>
            </div>
        </div>
        
        <div class="form-actions">
            <a href="{% url 'home' %}" class="btn btn-cancel">Cancelar</a>
            <button type="submit" class="btn btn-primary">Guardar cambios</button>
        </div>
    </form>
</div>
<script src="{% static 'js/changeImageWorkerForm.js' %}"></script>

{% endblock %}