
{% extends "base.html" %}

{% block content %}

{% load static %}

<!-- <form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button>
        SignUp
    </button>

</form> -->

<link rel="stylesheet" href="{% static 'css/signin.css' %}">
{% include "commons/includes/title.include.html" with Titulo="Crear usuari" Subtitulo="Encantados de tenerte aqui" %}




<div class="form">
    <form method="post">
        {% csrf_token %}
        
        <div class="form-group flex-column">
            <label for="{{ form.username.id_for_label }}">Nombre de usuario</label>
            <div class="inputForm">
                <img src="{% static '/user.svg' %}" alt="Candado" class="icon">
                {{ form.username }}
            </div>
        </div>
        <div class="form-group flex-column">
            <label for="{{ form.gmail.id_for_label }}">Correo</label>
            <div class="inputForm">
                <img src="{% static '/arroba.svg' %}" alt="Candado" class="icon">
                {{ form.gmail }}
            </div>
        </div>
        
        <div class="form-group flex-column">
            <label for="{{ form.password.id_for_label }}">Contraseña</label>
            <div class="inputForm">
                <img src="{% static '/candado.svg' %}" alt="Candado" class="icon">
                {{ form.password1 }}
            </div>
        </div>
        <div class="form-group flex-column">
            <label for="{{ form.password.id_for_label }}">Verifique contraseña</label>
            <div class="inputForm">
                <img src="{% static '/candado.svg' %}" alt="Candado" class="icon">
                {{ form.password2 }}
            </div>
        </div>
        <button type="submit" class="button-submit">Crear cuenta</button>
        <p class="signup-link">
            Tienes cuenta?   <a href="{% url 'signin' %}">Login</a>
        </p>
    </form>
</div>


{% endblock %}
