{% extends "base.html" %}

{% block content %}

{% load static %}


<link rel="stylesheet" href="{% static 'css/signin.css' %}">
{% include "commons/includes/title.include.html" with Titulo="Iniciar sesión" Subtitulo="Bienvenido" %}



<div class="form">
    <form method="post">
        {% csrf_token %}
        
        <div class="form-group flex-column">
            <label for="{{ form.username.id_for_label }}">Nombre de usuario</label>
            <div class="inputForm">
                <img src="{% static '/user.svg' %}" alt="Candado" class="icon">
                {{ form.username }}
            </div>
            {% if form.username.errors %}
                <div class="error-message">
                    {% for error in form.username.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        
        <div class="form-group flex-column">
            <label for="{{ form.password.id_for_label }}">Contraseña</label>
            <div class="inputForm">
                <img src="{% static '/candado.svg' %}" alt="Candado" class="icon">
                {{ form.password }}
            </div>
            {% if form.password.errors %}
                <div class="error-message">
                    {% for error in form.password.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div><br>
        <div class="form-group flex-row">
            <div>
                <input type="checkbox" name="remember_me" id="remember_me" {% if remembered_username %}checked{% endif %}>
                <label for="remember_me">Remember me </label>
            </div>
            <a href="{% url 'forgot_username' %}" class="span">Usuario olvidado?</a>
        </div>
        <button type="submit" class="button-submit">Iniciar sesión</button>
        <p class="signup-link">
            No tienes cuenta?   <a href="{% url 'signup' %}">SignUp</a>
        </p>

    </form>

        
</button></div>
</div>

{% endblock %}
