{% extends "base.html" %}
{% block content %}
{% load static %}

{% include "commons/includes/title.include.html" with Titulo="Calendario" Subtitulo="Para poner y quitar dias de fiesta" %}
<div style="width: 50rem; height: 100%; justify-content: center; align-items: center; flex-direction: column;">
    <div id="calendar"></div>
</div>
    {% csrf_token %}

{% include "commons/includes/modal.include.html" with Titulo="Horas" Contenido="Cargando..." idConfirm="modalConfirmHoras" modalId="HorasMD" %}
{% include "commons/includes/modal.include.html" with Titulo="ALERTA!!!" Contenido="Se borraran las reservas de ese dia y se aran devoluciones a los clientes" idConfirm="modalConfirmWarning" modalId="WarningMD" %}

<button id="confirmarDiasSeleccionadosBtn">Confirmar selección</button>

<script defer src="{% static 'js/calendarAdmin.js' %}"></script>
<script defer src="{% static 'js/modal.include.js' %}"></script>

{% endblock %}