{% extends "base.html" %}
{% block content %}
    {%if verTipo%}
        {% include "commons/includes/title.include.html" with Titulo="Tipos de masajes" Subtitulo="Seguro que encuentras el que necesitas" %}
        <div class="contentList">
            {% for tipo in tipos %}
                <a href="{% url 'masajes' %}?tipo={{ tipo.id }}">
                    {% include "includes/masajes.include.html" with imagen=tipo.foto_nombre nombre=tipo.nombre description=tipo.description %}
                </a>
            {% endfor %}
        </div>
    {% else %}
        {% for tipo in tipos %}{% include "commons/includes/title.include.html" with Titulo="Masajes" Subtitulo=tipo.nombre %}{% endfor %}
        <div class="contentList">
            {% for masaje in masajes %}
                <a href="{% url 'masaje' %}?tipo={{ masaje.id }}">
                    {% include "includes/masajes.include.html" with imagen=masaje.foto_nombre nombre=masaje.nombre description=masaje.descriptionSh %}
                </a>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}